@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P',
        cursive;
    background-image: url("img/salonArcade.jpg");
    background-size: cover;
    background-repeat: no-repeat;


}

canvas {

    display: block;
    margin: 1 auto;

    
}
div {
    display: flex;
    justify-content: space-around
}

.center {
    align-items: center
}
.centerTwo {
    flex-direction: column
}
.press {
    font-size: 20px;
    text-decoration-line: none;
    background-color: #870007;
    color: greenyellow;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;
    margin: 100px 0;
}

