@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
    margin: 50;
    padding: 0;
}

body {
    
    font-family: 'Press Start 2P',
        cursive;
    background-image: url("img/salonArcade.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: greenyellow;
    
}

.press {
    font-size: 20px;
    text-decoration-line: none;
    background-color: #870007;
    color: greenyellow;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;

    margin: 100px 0;
}

.move {
    margin: 200px 0
}

.margin {
    margin-bottom: 50px
}